<h1>MY PHOTOS</h1>

<% if @photos.empty? %>
  <p> There are no photos! </p>
<% else %>

  <% @photos.each_with_index do |photo, index| %>

  <% if index % 3 == 0 %>
    <div class="row">  
   <% end %>

    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="<%= photo.photo_url %>" width='250' height=300 alt="photo" </img>
        <div class="caption">
          <h3><%= photo.title %></h3>
          <p><%= photo.description %></p>
          <p> Likes: <%= photo.likes%> </p>
          <%= link_to 'edit photo', edit_photo_path(photo), class: 'btn btn-info' %>
          <%= link_to 'delete', photo_path(photo), class: 'btn btn-danger', method: :delete, data: {confirm: "Na pewno?"} %>

          <% cookie_id = session[photo.id.to_s.to_sym] %>
          <% if cookie_id %>
          <%= link_to "I don't like it!", like_photo_path(photo), class: 'btn btn-danger' %>
          <% else %>
          <%= link_to "I like it!", like_photo_path(photo), class: 'btn btn-warning' %>
          <% end %>
          
        </div>
      </div>
    </div>

    <% if index % 3 == 2 %>
      </div>
    <% end %>

  <% end %>
<% end %>

