<!DOCTYPE html>
<html>
<head>
  <title>Projekt1</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= link_to "all photos", photos_path %>
  <%= link_to "add a new photos", new_photo_path %>

  <%= yield %>

</body>
</html>
