<!DOCTYPE html>
<html>
<head>
  <title>Projekt1</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <%= bootstrap_flash %>

<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      Wasz tekst tu
    </div>
  </div>
</div>


  <%= link_to "All photos", photos_path, class: 'btn btn-default' %>
  <%= link_to "Add a new photo", new_photo_path, class: 'btn btn-danger' %>
  
  <button class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm">Small modal</button>
  

  <%= yield %>

</body>
</html>
